
<mat-sidenav-container class="example-container">
    <mat-sidenav   #mysidenav     role="navigation">
  
      Sidenav content


      <mat-nav-list   role="list">
          <mat-list-item     role="listitem">
              <a  [routerLink]="['/home']" routerLinkActive="router-link-active"  (click)="mysidenav.close()" > Home </a>     
          </mat-list-item>

          <mat-list-item     role="listitem">
              <a  [routerLink]="['/about']" routerLinkActive="router-link-active"  (click)="mysidenav.close()" > About </a>
          </mat-list-item>
          <mat-list-item     role="listitem">
              <a  [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="mysidenav.close()" > Products </a>
          </mat-list-item>
        </mat-nav-list>
 
    </mat-sidenav>
    <mat-sidenav-content >
       
        <mat-toolbar  color='info'>  
          <div>
              <button mat-button (click)="mysidenav.toggle()"   fxShow.sm >
                  <mat-icon class="mat-18">menu</mat-icon>            
             </button>  
                
          </div>
            <div fxFlex  fxLayout  fxLayoutAlign="flex-end"  fxHide.sm  >

              <ul   fxLayout fxLayoutGap="10px"  class="navitems"  >
                <li>
                    <a  [routerLink]="['/home']" routerLinkActive="router-link-active" > Home </a>
                </li>
                <li>
                    <a  [routerLink]="['/about']" routerLinkActive="router-link-active" > About </a>
                </li>
                <li>
                    <a  [routerLink]="['/products']" routerLinkActive="router-link-active" > Products </a>
                </li>
                <li>
                    <a  [routerLink]="['/services']" routerLinkActive="router-link-active" > Services </a>
                </li>
                <li>
                    <a  [routerLink]="['/login']" routerLinkActive="router-link-active" > LogIn </a>
                </li>
                <li>
                    <a  [routerLink]="['/signUp']" routerLinkActive="router-link-active" > signUp </a>
                </li>
              </ul>
         
            </div>
       </mat-toolbar>  
          
        <router-outlet></router-outlet>
  
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
<!-- <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div> -->
<!-- <mat-toolbar color="primary"> 

  <span>Responsive Navigation</span>

  <span class="example-spacer"></span>

  <a href="#" mat-button>Menu Item 1</a>

  <a href="#" mat-button>Menu Item 2</a>

  <a href="#" mat-button>Menu Item 3</a>

  <a href="#" mat-button>Menu Item 4</a>

  <a href="#" mat-button>Menu Item 5</a>

  <a href="#" mat-button>Menu Item 6</a>

</mat-toolbar> -->
