mat-sidenav , mat-sidenav-container ,mat-sidenav-content{
    height: 100%;
}



mat-sidenav{
    width: 250px;
    background-color:#fff;
    height: 100%;
}

.navitems{
    list-style: none;
}

.navitems a{
    text-decoration: none
}