<p>
  new-products works!
</p>


<mat-form-field>
    <mat-select [(value)]="selected">
      <mat-option>None</mat-option>
      <mat-option value="pen">pen</mat-option>
      <mat-option value="pencil">Pencil</mat-option>
      <mat-option value="book">Book </mat-option>
    </mat-select>
  </mat-form-field>
  
  <p>You selected: {{selected}}</p>
  