<!-- <p>
  products works!
</p>
dadada -->
<!-- 
<mat-nav-list>
  <a mat-list-item href="#" *ngFor="let p of proData.products"   style="border-bottom:yellow"  (click)="myselectedproduct(p)"> {{ p.Name }} </a>
</mat-nav-list> -->


<!-- <app-services   [myselectedInput] = "productLoc"></app-services> -->

<!-- <a href="" mat-button>Link</a> -->


<!-- <app-services-list></app-services-list> -->


<!-- api-key -->


<!-- AIzaSyDsDHYIg6-fWJyB9JeyGyWeeV_-DVppH7c -->

<!-- end api key -->



<mat-tab-group>
    <mat-tab label="New Products"> 
      <app-new-products></app-new-products>
    </mat-tab>
    <mat-tab label="Old Products"> 
      <app-old-products></app-old-products>
    </mat-tab>
 </mat-tab-group>
  